:root{
    --background: rgb(202, 225, 235);
    --left: rgb(147, 217, 226);
    --right:rgb(135, 181, 211);
    --button: rgb(153, 10, 0);
}

html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.wrapper{
    padding: 30px;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
}

.form{
    padding: 20px 0;
    display: grid;
    font-size:1.4em;
    line-height:1.4em;
    max-width: 1000px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 10px;
}

.left, .top{
    background-color: var(--left);
}

.right, .bottom{
    background-color: var(--right);
    width:100%;
}

.left__experience, .right__experience{
    grid-column: 1/-1;
}

fieldset.right>ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.right__experience>ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.top, .bottom, .button{
    grid-column: 1 / -1;
}

.button{
    background: var(--button);
    justify-self: center;
    width: 60%;
    padding: 20px 0;
}