/* basic styling of the whole checkbox block */
.checkbox-cnt{
    color: var(--fields-input-text);
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    user-select: none;
    transition: all 0.2s ease;
}

/* hide default checkbox */

.checkbox-cnt input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    cursor: pointer;
}

/* new checkbox styling */
.checkbox__state{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    background-color: var(--fields-input);
    transition: all 0.2s ease;
}

/* hover effects */
.checkbox-cnt:hover{
    color: var(--fields-text);
}

.checkbox-cnt:hover input ~ .checkbox__state{
    background-color: var(--fields-text);
}

/* style after input is checked */
.checkbox-cnt input:checked ~ .checkbox__state{
    
    animation: markCheckbox .3s linear;
    background-color: var(--title);
}

/* create custom checkmark below*/

/* checkmark hidden when not:checked */
.checkbox__state::before{
    content: '';
    position: absolute;
    display: none;
}

/* style of the checkmark */
.checkbox-cnt .checkbox__state::before{
    top: -3px;
    left: 5px;
    width: 10px;
    height: 18px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    z-index: 2;
}

/* display after :checked */
.checkbox-cnt input:checked ~ .checkbox__state::before{
    display: block;
}

/* animation when checkbox is marked */
@keyframes markCheckbox{
    0%{
        transform: translatey(-50%) scale(0);
        background-color: var(--fields-input);
    }
    80%{
        transform: translatey(-50%) scale(1.2);
        background-color: var(--title);
    }
    100%{
        transform: translatey(-50%) scale(1);
        background-color: var(--title);
    }
}

/* RADIO BUTTONS BELOW */

/* basic styling od radios */
.radio-cnt{
    color: var(--fields-input-text);
    position: relative;
    display: block;
    cursor: pointer;
    padding-left: 30px;
    user-select: none;
    transition: all .2s ease;
}

/* hide default radio buttons */
.radio-cnt input{
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    cursor: pointer;
}

/* create custom radio btn */
.radio__state{
    position: absolute;
    top: 50%;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: var(--fields-input);
    transform: translatey(-50%);
    border-radius: 50%;
    transition: all .2s ease;
}

/* hover effects */
.radio-cnt:hover{
    color: var(--fields-text);
}

.radio-cnt:hover input ~ .radio__state{
    background-color: var(--fields-text);
}

.radio-cnt input:checked ~ .radio__state{
    border: 1px solid var(--title);
}

/* create custom radio btn */

/* create custom radio checkmark */
.radio__state::before{
    position: absolute;
    display: none;
    content: '';
}

/* style the radio checkmark */
.radio-cnt .radio__state::before{
    top: 50%;
    left: 50%;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--title);
}

/* display it when marked */
.radio-cnt input:checked ~ .radio__state::before{
    display: block;
}