.checkbox-cnt{
    color: var(--fields-input-text);
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    user-select: none;
}

/* .checkbox-cnt{
    display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-cnt input{

    /* hide checkbox */
    /* position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox__state{ */
    /* new checkbox blank */
    /* position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.checkbox-cnt:hover input ~ .checkbox__state{ */
    /* look on hover */
    /* background-color: #ccc;
}

.checkbox-cnt input:checked ~ .checkbox__state{ */
    /* bg when marked */
    /* background-color: #2196F3;
}

.checkbox__state:after{ */
    /* position of new content */
    /* content: "";
    position: absolute;
    display: none;
}

.checkbox-cnt input:checked ~ .checkbox__state:after{ */
    /* show new content when marked */
    /* display: block;
} */

/* .checkbox-cnt .checkbox__state:after{ */ 
    /* how the new content looks like */
    /* left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
} */